/lesson2/nbproject/private/
/lesson2/build/
/baitap1/nbproject/private/
/baitap1/build/
/test/nbproject/private/
/test/build/
/bai 1 kho vl/nbproject/private/
/bai 1 kho vl/build/
/bai 1 kho vc/nbproject/private/
/bai 1 kho vc/build/
/lesson3/nbproject/private/
/lesson3/build/
/baitapbuoi3/nbproject/private/
/baitapbuoi3/build/
/btap3/nbproject/private/
/btap3/build/